
@{
    ViewBag.Title = "Enquiries";
}

<h2>Enquiries</h2>

<h3>Submit your enquiry here</h3>
<div>

    <form action="mailto:sohail.raza.mail@gmail.com" method="GET" target="_blank">
        <div class="field">
            <br/>
            <input name="subject" id="subject" type="text" class="input" value="Email Subject">
        </div>
      
        <div class="field">
            <label class="label" for="body">Email Body</label>
            <br />

            <textarea class="textarea" name="body" id="body">Your enquiry</textarea>

        </div>
        <div><input type="submit" value="Create Email" class="button is-primary"></div>
    </form>





</div>

