@{
    ViewBag.Title = "Home Page";
}






<div class="row">
    <div class="background">
        <img src="~/Images/spa-bg2.jpg" alt="spa" style="width:100%;height=100%">
        <div class="centered"><h1>Lorem ipsum dolor</h1> </div>
    </div>

    </br>


    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/spa-img.jpg" alt="first tile card" width="250" height="180">
            <div class="card-body">
                <h5 class="card-title">First Card</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/spa-img2.jpg" alt="second tile card" width="250" height="180">
            <div class="card-body">
                <h5 class="card-title">Second Card</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/spa-img3.jpg" alt="third tile card" width="250" height="180">
            <div class="card-body">
                <h5 class="card-title">Third Card</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/spa-img4.jpg" alt="fourth tile card" width="250" height="180">
            <div class="card-body">
                <h5 class="card-title">Third Card</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>